<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-播放远程视频-封装播放器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B3B40CC1BC8FB56000D07B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3B40E51BC8FB56000D07B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3B40F01BC8FB57000D07B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
